body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header img {
    width: 300px;
    float: left;
}
nav {
    padding-top: 61px;
}
#links {
    background-color: #ED1C24; /* blue - 3953a4 */
    padding: 5px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding-left: 5%;
}
nav a:hover {
    color: #111;
}
#container {
    width: 90%;
    margin: 10px auto;
}
main {
    margin-right: 22%;
}
#homepageImage {
    width: 100%;
}
aside {
    float: right;
    width: 20%;
    border: 1px dotted #4D4D4D;
    background-color: #eee;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
#sideBarHeading {
    
    text-align: center;
    padding: 5px 0;
}
#sideBarContainer {
    margin: 0 auto;
    background-color: #fff;
    padding: 2%;
    border-radius: 5px;
    display: table;
    width: 90%;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell;
    padding: 10px 0;
}
.tableCell:first-child {
    font-weight: bold;
}
.textAlignRight {
    text-align: right;
}
#checkoutButton {
    text-align: right;
    padding: 15px 3% 0 0;
}
#checkoutButton button {
    background-color: #ED1C24; /* blue - 3953a4 */
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 2%;
    cursor: pointer;
}
footer {
    background-color: #eee;
    padding: 10px 0;
    font-size: 80%;
    height: 50px;
    color: #4D4D4D;
    clear: both;
}
footer img {
    width: 40px;
    padding: 6px 0 0 6px;
}
footer #footerNav a {
    text-decoration: none;
    padding-right: 5%;
    float: right;
    font-size: 120%;
    color: #ED1C24;
    padding-top: 17px;
}
#footerNav a:hover {
    color: #000;
}
#socialMediaLinks {
    float: left;
    padding-left: 5%;
}
#copyright {
    width: 200px;
    margin: 0 auto;
    font-style: italic;
    padding-top: 35px;
}

/* -------- SHOP.HTML -------- */
#cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 40px;
}
.card img {
    border-radius: 20px;
    width: 100%;
    height: 50%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardText {
    padding: 2px 16px;
}
.cardText button {
    float: right;
    background-color: #ED1C24;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/* -------- CART.HTML -------- */
.cartCard {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 40px;
}
.cartCard:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.cartCardFlex {
    display: flex;
}
.cartCard img {
    width: 10%;
    flex: 10%;
}
.cartTitle {
    font-weight: bold;
    flex: 20%;
    padding-left: 10px;
}
.cartDescription {
    flex: 50%;
    padding-left: 10px;
}
.cartQuantity {
    flex: 10%;
}
.cartQuantity input[type="number"] {
    margin-top: 17px;
    width: 50px;
}
.cartPrice {
    flex: 10%;
    padding-left: 10px;
}
.removeLink {
    text-align: right;
    font-size: 80%;
}
.bottomBorder {
    border-bottom: 1px solid #bbb;
}
#savings {
    color:forestgreen;
}
#totalBold {
    font-weight: bold;
}